.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #black;
}

.file-explorer-component {
  border: 1px solid black;
  padding: 20px;
  max-width: fit-content;
}

.search-bar {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
